{% extends "panel.html" %}

{% load static %}


{% block content %}
     <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 340px;">
          <a  class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-5 fw-semibold">Alumnos</span>
          </a>
          <div class="list-group list-group-flush border-bottom scrollarea">
          {% for alumno in alumnos%}
            <a data-catid="{{ alumno.id }}" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{alumno.nombre}}</strong>
                <small>{{alumno.rut}}</small>
              </div>
              <div class="col-10 mb-1 small">{{alumno.apellido}}</div>
            </a>
          {% endfor %}
     
        </div>
    </div>
    

  <section style="background-color: #eee; width: 100%;">
  <div class="container py-5 ">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            {% if elegido.sexo == 'masculino' %}
              <img src="{% static 'images/hombre.png' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            {% else %}
                          <img src="{% static 'images/mujer.png' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">

            {% endif %}
            <h5 class="my-3">{{alumno.nombre}} {{alumno.apellido}}</h5>
            <p class="text-muted mb-1">{{alumno.rut}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Editar</button>
              <button  href="delete/alumno/{{alumno.id}}" type="button" class="btn btn-danger ms-1">Eliminar</button>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
          
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre completo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><span id="nombreAlumno"></span> <span id="apellidoAlumno"></span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nacionalidad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><span id="nacionalidad"></span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Edad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><span id="edad"></span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha nac.</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><span id="fechaNac"></span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Dirección</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><span id="direccion"></span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><span id="fono"></span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Alergico</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{elegido.alergico}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Procedencia</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{elegido.procedencia}}</p>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>



<script>
  $('.list-group-item').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
        $.ajax({
            type:"GET",
            url: "/alumnos/{{idCurso}}",
            data:{
                post_id: catid
            },
            datatype: 'json',
            success: function( data ) 
            {   
              var parsed = JSON.parse(data);
              document.getElementById("nombreAlumno").innerHTML = parsed.nombre;
              document.getElementById("apellidoAlumno").innerHTML = parsed.apellido;
              document.getElementById("nacionalidad").innerHTML = parsed.nacionalidad;
              document.getElementById("edad").innerHTML = parsed.edad;
              document.getElementById("fechaNac").innerHTML = parsed.fechaNac;
              document.getElementById("direccion").innerHTML = parsed.direccion;
              document.getElementById("fono").innerHTML = parsed.fono;


            }
            

        });
  });

</script>



{% endblock %}