{% extends "index.html" %}

{% load static %}

{% block content %}

    <div class="container text-left">
          <div class="p-5 mb-4 mt-4 bg-light rounded-3">
              <h1>Nuevo calendario evaluaciones</h1>
                <form class="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                        <div class="form-group">
                            <label for="curso">Curso</label>
                            <input name="curso" type="text" class="form-control" id="curso" >
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlFile1">Archivo</label>
                            <input name="archivo" type="file" multiple class="form-control-file" id="exampleFormControlFile1">
                        </div>

                       
                  <button type="submit" class="btn btn-primary mt-2">Subir</button>
                </form>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>

{% endblock %}