{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
          <div class="p-5 mb-4 mt-4 bg-light rounded-3">
              <h1>Ingresar Nuevo Alumno</h1>
                <form class="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                     <div class="form-group">
                        <label for="nombreProfesor">Nombre</label>
                        <input name="nombre" type="text" class="form-control" id="nombreProfesor" >
                     </div>

                    <div class="form-group">
                        <label for="apellidoProfesor">Apellido</label>
                        <input name="apellido" type="text" class="form-control" id="apellidoProfesor" >
                    </div>

                    <div class="form-group">
                        <label for="curso">Curso</label>
                        <div class="form-check">
                            <input class="form-check-input" value='1' type="radio" name="curso" id="curso1">
                            <label class="form-check-label" for="curso1">
                                Primero
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value='2' type="radio" name="curso" id="curso2" >
                            <label class="form-check-label" for="curso2">
                                Segundo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value='3' type="radio" name="curso" id="curso3">
                            <label class="form-check-label" for="curso3">
                                Tercero
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value='4' type="radio" name="curso" id="curso4" >
                            <label class="form-check-label" for="curso4">
                                Cuarto
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="alergico">Alergico</label>
                        <input name="alergico" type="text" class="form-control" id="alergico" >
                    </div>

                

                  <button type="submit" class="btn btn-primary mb-4 mt-4">Guardar</button>
                </form>
        </div>
    </div>

{% endblock %}