{% extends "index.html" %}

{% load static %}


{% block content %}
    
    <div class="container text-left">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="container-fluid py-5 text-center">
                <h1 class="display-5 fw-bold">Galeria de fotos</h1>
                {% for n in noticias  %}
                    <h3 class="text-success">{{n.titulo}}</h3>
                    {% for f in fotos%}
                        {% if f.noticia == n%}
                            <img src="{{  f.image.url }}" class="rounded mt-2" height="100%" width="100%" alt="...">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}