{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1>Archivo para imprimir</h1>
  
                <form class=" " method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ form }}

                     <div class=" form-group mt-2">
                        <label for="profesor">Nombre profesor o asistente de la educación</label>
                        <div class="col-md-2">
                            <input name="profesor" type="text" class="form-control" id="autoComplete" >
                        </div>
                     </div>

                      <div class="form-group mt-2">
                        <label for="dp-bootstrap" >Fecha para el que necesita la guía</label>
                        <p><small>Recuerde que si necesita las guías para hoy, estas no pueden ser para el primer bloque. Esto
                        porque se imprime desde 8:15 hasta 10:00</small></p>

                         <div class="col-sm-2">
	                        <input name="fecha" type="text" class="dp-bootstrap">
                         </div>
                     </div>

                     <div class="form-group mt-2 ">

                        <label for="cantidad">Curso</label>

                        <div class="col-md-8">


                        <input  type="radio" class="btn-check " value="primero" name="curso" id="curso1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso1">Primero</label>

                        <input type="radio" class="btn-check" value="segundo" name="curso" id="curso2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso2">Segundo</label>

                        <input type="radio" class="btn-check" value="tercero" name="curso" id="curso3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso3">Tercero</label>

                         <input type="radio" class="btn-check" value="cuarto" name="curso" id="curso4" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso4">Cuarto</label>

                        <input type="radio" class="btn-check" value="quinto" name="curso" id="curso5" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso5">Quinto</label>

                         <input type="radio" class="btn-check" value="sexto" name="curso" id="curso6" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso6">Sexto</label>

                        <input type="radio" class="btn-check" value="septimo" name="curso" id="curso7" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso7">Septimo</label>


                        <input type="radio" class="btn-check" value="octavo" name="curso" id="curso8" autocomplete="off">
                        <label class="btn btn-outline-primary" for="curso8">Octavo</label>
                        </div>

                        
                        </div>

                     <div class="form-group mt-2">
                        <label for="cantidad">Cantidad</label>
                        <p><small>este numero se puede modificar!!</small></p>
                        <div class="col-md-1">
                            <input name="cantidad" type="text" class="form-control  border-primary" id="cantidad" >
                        </div>
                     </div>

                    
                         <div class="form-group mt-2">
                        <div class="form-group col-md-2">
                            <label for="exampleFormControlFile1">Documento</label>
                            <input name="documento" type="file"  class="form-control-file" id="exampleFormControlFile1">
                        </div>    
                      </div>


                     <button type="submit" class="btn btn-warning mt-4">Enviar</button>

                             
                    </div>
                    


                  {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

  
    

     <script type="text/javascript">
        

        $(function(){
			if (!$.fn.bootstrapDP && $.fn.datepicker && $.fn.datepicker.noConflict) {
            var datepicker = $.fn.datepicker.noConflict();
            $.fn.bootstrapDP = datepicker;
        }
            var date = new Date();
            date.setDate(date.getDate()-1);
			$('.dp-bootstrap').bootstrapDP({
                    startDate: date,
                    format: "dd-mm-yyyy",
            });
			
		});

        const autoCompleteJS = new autoComplete({
            placeHolder: " ",
            data: {
                src: ["Jasna Gonzalez", "Michelle Quilodrán", "Gonzalo Sanhueza", "Carla Morales"],
                cache: true,
            },
            resultItem: {
                highlight: true
            },
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        autoCompleteJS.input.value = selection;
                    }
                }
            }
        });

        $(document).on('change','input[type="radio"]' ,function(e) {
            if(this.id=="curso1") {
                if(this.checked) $('#cantidad').val(29);
                else $('#cantidad').val("");
            }
            if(this.id=="curso2") {
                if(this.checked) $('#cantidad').val(31);
                else $('#cantidad').val("");
            }

            if(this.id=="curso3") {
                if(this.checked) $('#cantidad').val(35);
                else $('#cantidad').val("");
            }
            if(this.id=="curso4") {
                if(this.checked) $('#cantidad').val(26);
                else $('#cantidad').val("");
            }

            if(this.id=="curso5") {
                if(this.checked) $('#cantidad').val(31);
                else $('#cantidad').val("");
            }
            if(this.id=="curso6") {
                if(this.checked) $('#cantidad').val(25);
                else $('#cantidad').val("");
            }
            if(this.id=="curso7") {
                if(this.checked) $('#cantidad').val(18);
                else $('#cantidad').val("");
            }
            if(this.id=="curso8") {
                if(this.checked) $('#cantidad').val(29);
                else $('#cantidad').val("");
            }
            
        });


        

    </script>

{% endblock %}