{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
          <div class="p-5 mb-4 mt-4 bg-light rounded-3">
              <h1>Inscripciones a Talleres</h1>

              <div class="row g-5">
                <div class="col-md-6">
                  <h2 class="text-body-emphasis">Starter projects</h2>
                  <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
                  <ul class="list-unstyled ps-0">
                    <li>
                      <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
                        Bootstrap npm starter
                      </a>
                    </li>
                    <li>
                      <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/parcel" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
                        Bootstrap Parcel starter
                      </a>
                    </li>
                    <li>
                      <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/vite" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
                        Bootstrap Vite starter
                      </a>
                    </li>
                    <li>
                      <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/webpack" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
                        Bootstrap Webpack starter
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
                
                 
        </div>
    </div>

{% endblock %}