{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1>Lista de pedidos para imprimir</h1>
                

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Fecha de ingreso</th>
                        <th scope="col">Fecha de impresion</th>
                        <th scope="col">Cant.</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guia in guias %}
                        <tr>
                            {% if guia.estado == 'Ok'%}
                                <td class="text-primary">{{guia.estado}}</td>
                            {% else%}
                                <td class="text-danger">{{guia.estado}}</td>
                            {% endif%}
                            <td>{{guia.profesor}}</td>
                            <td>{{guia.fecha_subida}}</td>
                            <td>{{guia.fecha}}</td>
                            <td>{{guia.cantidad}}</td>
                            <td>{{guia.curso}}</td>
                            <td><a href="/delete/guia/{{ guia.id }}" role="button" class="btn btn-danger">Eliminar</a>
                            <a href="/download/guia/{{ guia.id }}" role="button" class="btn btn-success">Descargar</a>
                            <a href="/estado/guia/{{ guia.id }}" role="button" class="btn btn-primary">Lista</a></td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>


            </div>
        </div>
    </div>

{% endblock %}