{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1>Ranking Tenis Altas Cumbres</h1>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Ranking</th>
                        <th scope="col"> </th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puntos</th>
                        <th scope="col">P.G</th>
                        <th scope="col">P.P</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for jugador in jugadores%}
                      <tr>
                        <th scope="row">{{jugador.ranking}}</th>
                        <th><img src="{% static 'images/bandera.png' %}" class="img-fluid" height="10" width="20"></th>

                        <td>{{jugador.nombre}}</td>
                        <td>{{jugador.puntaje}}</td>
                        <td>{{jugador.ganados}}</td>
                        <td>{{jugador.perdidos}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                  
            </div>
        </div>
    </div>

{% endblock %}