{% extends "index.html" %}

{% load static %}


{% block content %}



    <div class="container text-left" >
        <div class="p-5 mb-4 mt-4 rounded-3 " style=" background-color: #abdcc5;">
            <div class="container-fluid py-5">
                <h1>Buscar amigo secreto </h1>

<!--
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Amigo secreto</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for amigo in amigos%}
                      <tr>
                        <td>{{ amigo.nombre }}</td>
                        <td>{{ amigo.apellido }}</td>
                        <td>{{ amigo.nombreAmigo }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>-->


                  <form class="mb-4" action="{% url 'search_results' %}" method="get">
                    <h4>Escribe tu primer nombre!! sin apellidos!!</h4>
                    <input name="q" type="text" placeholder="Nombre">
                  </form>
                
                  {% if object_list %}
                    {% for city in object_list %}
                      <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <div>
                          <h2>Tú amigo secreto es {{ city.nombreAmigo }}</h2>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                      <h2>{{ mensaje }}</h2>
                  {% endif %}
                  



                
                
            </div>
        </div>
    </div>

{% endblock %}