{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">

            <div class="container-fluid py-5">


                <h1>Torneos</h1>
                <article class="blog-post">
                    <p class="blog-post-meta">Abril 3, 2023 by <a href="#">Tomás Salgado</a></p>
            
                    <p>Los torneos en el colegio se realizaran cada 8 semanas a partir del 5 de Abril, en cada uno de ellos 
                        se le otorgaran 2.000 puntos al campeón, 1.200 al finalista, 720 a semifinalistas y 360 a cuartofinalistas.</p>
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Torneo</th>
                          <th>Fecha</th>
                          <th>Puntos al ganador</th>
                          <th>Ganador</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Torneo Actividad Física </td>
                          <td>Miercoles 12 de Abril</td>
                          <td>2000pts</td>
                          <td><a>Piero Amigo</a></td>
                        </tr>
                        
                        
                      </tbody>
                      
                    </table>
            
                    <p>En los Torneos se jugaran partidos al mejor de 3 sets, de 3 puntos cada set</p>
                  </article>

                <h1>Campeonato</h1>
                <article class="blog-post">
                    <p class="blog-post-meta">Abril 3, 2023 by <a href="#">Tomás Salgado</a></p>
            
                    <p>Los campeonatos en el colegio se realizaran cada vez que haya un minimo de 8 personas, en cada uno de ellos 
                        se le otorgaran 1.000 puntos al campeón, 400 al finalista, 220 a semifinalistas y 120 a cuartofinalistas.</p>
                    
                    
            
                    <p>En los campeonatos se jugara al mejor de 3 sets, cada set será de 2 puntos .</p>
                  </article>
                  
                  
            </div>
        </div>
    </div>

{% endblock %}