{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1>Proximos torneos</h1>
                <article class="blog-post">
                    <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>
            
                    <p>Los torneos en el colegio se realizaran cada 2 semanas a partir del 29 de agosto, en cada uno de ellos 
                        se le otorgaran puntos a cada jugar inscrito. El jugador que termine en primer lugar para final de año 
                    obtendra un reconocimiento por su constante participación y esfuerzo</p>
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Torneo</th>
                          <th>Fecha</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Torneo de Gatos</td>
                          <td>31 de Agosto</td>
                        </tr>
                        <tr>
                          <td>Torneo fiestas patrias</td>
                          <td>14 de Septiembre</td>
                        </tr>
                        <tr>
                          <td>Torneo</td>
                          <td>28 de Septiembre</td>
                        </tr>
                        <tr>
                            <td>Torneo de Gatos</td>
                            <td>31 de Agosto</td>
                          </tr>
                          <tr>
                            <td>Torneo fiestas patrias</td>
                            <td>14 de Septiembre</td>
                          </tr>
                          <tr>
                            <td>Torneo</td>
                            <td>28 de Septiembre</td>
                          </tr>
                      </tbody>
                      
                    </table>
            
                    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
                  </article>
                  
                  
            </div>
        </div>
    </div>

{% endblock %}